{% extends "base.njk" %}
{% set activeNav = "home" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/' %}
{% set pageTitle = "HAZO WORLD" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ '/assets/carouselnew.css' | url }}">
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade hidden-sm hidden-xs" data-bs-ride="carousel">
  <div class="carousel-inner">
<!--    <div class="carousel-item" data-bs-interval="3000">-->
<!--        <picture>-->
<!--          <source type="image/webp" srcset="{{ '/static/home/billboard-251017.webp' | url }}" width="1920" height="700" alt="HAZO" class="img-responsive">-->
<!--          <img src="{{ '/static/home/billboard-251017.jpg' | url }}" width="1920" height="700" alt="DAVIS" class="img-responsive">-->
<!--        </picture>-->
<!--    </div>-->
    <div class="carousel-item active" data-bs-interval="3000">
      <a href="{{ '/retractable-roof/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-retractable-roof.webp' | url }}" width="1920" height="700" alt="Retractable Roof" class="img-responsive">
          <img src="{{ '/static/home/billboard-retractable-roof.jpg' | url }}" width="1920" height="700" alt="Retractable Roof" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <a href="{{ '/aluminum-bioclimate-pergola/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-aluminum-bioclimate-pergola.webp' | url }}" width="1920" height="700" alt="Aluminum Bioclimate Pergola" class="img-responsive">
          <img src="{{ '/static/home/billboard-aluminum-bioclimate-pergola.jpg' | url }}" width="1920" height="700" alt="Aluminum Bioclimate Pergola" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="{{ '/about/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/folding-arm-awning.webp' | url }}" width="1920" height="700" alt="Folding Arm Awning" class="img-responsive">
          <img src="{{ '/static/home/folding-arm-awning.jpg' | url }}" width="1920" height="700" alt="Folding Arm Awning" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-partners.webp' | url }}" width="1920" height="700" alt="Partners" class="img-responsive">
          <img src="{{ '/static/home/billboard-partners.jpg' | url }}" width="1920" height="700" alt="Partners" class="img-responsive">
        </picture>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div id="carouselExampleAutoplayingsmall" class="carousel slide carousel-fade hidden-md hidden-lg hidden-xl hidden-xxl" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <a href="{{ '/retractable-roof/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-retractable-roof-small.webp' | url }}" width="1000" height="1000" alt="Retractable Roof" class="img-responsive">
          <img src="{{ '/static/home/billboard-retractable-roof-small.jpg' | url }}" width="1000" height="1000" alt="Retractable Roof" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="{{ '/aluminum-bioclimate-pergola/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-aluminum-bioclimate-pergola-small.webp' | url }}" width="1000" height="1000" alt="Aluminum Bioclimate Pergola" class="img-responsive">
          <img src="{{ '/static/home/billboard-aluminum-bioclimate-pergola-small.jpg' | url }}" width="1000" height="1000" alt="Aluminum Bioclimate Pergola" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="{{ '/about/' | url }}">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/folding-arm-awning-small.png' | url }}" width="1000" height="1000" alt="Folding Arm Awning" class="img-responsive">
          <img src="{{ '/static/home/folding-arm-awning-small.png' | url }}" width="1000" height="1000" alt="Folding Arm Awning" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="{{ '/static/home/billboard-partners-small.webp' | url }}" width="1000" height="1000" alt="Partners" class="img-responsive">
          <img src="{{ '/static/home/billboard-partners-small.jpg' | url }}" width="1000" height="1000" alt="Partners" class="img-responsive">
        </picture>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplayingsmall" data-bs-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplayingsmall" data-bs-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div class="container padding-top-50 padding-btm-30">
  <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Products Introduce</p>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/full-cassette-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/full-cassette-awning.webp' | url }}" alt="Full Cassette Awning" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/full-cassette-awning.png' | url }}" alt="Full Cassette Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/full-cassette-awning/' | url }}" class="hover-color-black">Full Cassette Awning</a></p>
        <p class="text-justify margin-btm-40">Modern electric retractable awning with built-in LED lighting</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/retractable-roof/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/retractable-roof.webp' | url }}" alt="Retractable Roof" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/retractable-roof.png' | url }}" alt="Retractable Roof" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/retractable-roof/' | url }}" class="hover-color-black">Retractable Roof</a></p>
        <p class="text-justify margin-btm-40">Aluminum alloy frame, PVC fabric, large coverage and shade</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/bioclimate-pergola/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/bioclimate-pergola.webp' | url }}" alt="Bioclimate Pergola" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/bioclimate-pergola.png' | url }}" alt="Bioclimate Pergola" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/bioclimate-pergola/' | url }}" class="hover-color-black">Bioclimate Pergola</a></p>
        <p class="text-justify margin-btm-40">Smart aluminum pergola – motorized louvers, remote control</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/zip-screen/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/zip-screen.webp' | url }}" alt="Zip Screen" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/zip-screen.png' | url }}" alt="Zip Screen" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/zip-screen/' | url }}" class="hover-color-black">Zip Screen</a></p>
        <p class="text-justify margin-btm-40">Suitable for indoor sunshade, mosquito repellent and ventilation</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/window-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/window-awning.webp' | url }}" alt="Window Awning" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/window-awning.png' | url }}" alt="Window Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/window-awning/' | url }}" class="hover-color-black">Window Awning</a></p>
        <p class="text-justify margin-btm-40">Provides shading and heat insulation, beautifies buildings</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/original-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/original-awning.webp' | url }}" alt="Original Awning" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/original-awning.png' | url }}" alt="Original Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/original-awning/' | url }}" class="hover-color-black">Original Awning</a></p>
        <p class="text-justify margin-btm-40">Outdoor sunshade, heat insulation, electric retractable system</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="{{ '/external-roof-blinds/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/home/external-roof-blinds.webp' | url }}" alt="External Roof Blinds" width="800" height="400" class="img-responsive">
              <img src="{{ '/static/home/external-roof-blinds.png' | url }}" alt="External Roof Blinds" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="{{ '/external-roof-blinds/' | url }}" class="hover-color-black">External Roof Blinds</a></p>
        <p class="text-justify margin-btm-40">Equipped with roof glass sunshade, heat insulation function</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey">
  <div class="container padding-top-50 padding-btm-30">
    <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">About HAZO WORLD</p>
    <div class="row">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-manufacturing-base.webp' | url }}" alt="Manufacturing Base" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-manufacturing-base.jpg' | url }}" alt="Manufacturing Base" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Manufacturing Base</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-showroom.webp' | url }}" alt="Showroom" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-showroom.jpg' | url }}" alt="Showroom" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Showroom</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-completed-projects.webp' | url }}" alt="Completed Projects" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-completed-projects.jpg' | url }}" alt="Completed Projects" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Completed Projects</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-export-to-70-countries.webp' | url }}" alt="Export To 70+ Countries" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-export-to-70-countries.jpg' | url }}" alt="Export To 70+ Countries" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Export To 70+ Countries</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-30-rd-team-members.webp' | url }}" alt="30+ R&D Team Members" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-30-rd-team-members.jpg' | url }}" alt="30+ R&D Team Members" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">30+ R&D Team Members</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/icon-200-national-patents.webp' | url }}" alt="200+ National Patents" width="400" height="150" class="img-responsive">
            <img src="{{ '/static/about/icon-200-national-patents.jpg' | url }}" alt="200+ National Patents" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">200+ National Patents</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-20">
        <p class="font-size-25 text-primary font-weight-700 margin-btm-20">HAZO WOLRD PTY LTD.</p>
        <p class="text-justify">Established in Australia, HAZO WORLD is a trade-only supplier of architectural outdoor systems, specialising in fabric shading systems, bioclimatic pergolas and retractable roof structures. We work exclusively with wholesalers, fabrication partners and distribution networks, delivering system-based solutions rather than single products.</p>
        <p class="text-justify">Through long-term equity participation and operational involvement, we are closely aligned with core manufacturing facilities, ensuring consistency in product standards, quality control and scalable production capacity. Our integrated supply model supports both complete systems and component-level supply.</p>
        <p class="text-justify">With proven experience across Australian residential and commercial projects, HAZO WORLD is built on stable lead times, structured replenishment programs and long-term supply partnerships — engineered for trade.</p>
        <p class="margin-top-30"><a href="{{ '/about/' | url }}" class="btn btn-primary btn-radius">About HAZO WORLD</a></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
        <div class="img-width-800 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/about.webp' | url }}" width="800" height="450" alt="About HAZO WORLD" class="img-responsive">
            <img src="{{ '/static/about/about.jpg' | url }}" width="800" height="450" alt="About HAZO WORLD" class="img-responsive">
          </picture>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/factory-interior-environment-1.webp' | url }}" alt="Manufacturing Facility" width="600" height="400" class="img-responsive">
            <img src="{{ '/static/about/factory-interior-environment-1.jpg' | url }}" alt="Manufacturing Facility" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Manufacturing Facility</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/factory-interior-environment-2.webp' | url }}" alt="Production Workshop" width="600" height="400" class="img-responsive">
            <img src="{{ '/static/about/factory-interior-environment-2.jpg' | url }}" alt="Production Workshop" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Production Workshop</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/indoor-showroom-environment.webp' | url }}" alt="Indoor Display Showroom" width="600" height="400" class="img-responsive">
            <img src="{{ '/static/about/indoor-showroom-environment.jpg' | url }}" alt="Indoor Display Showroom" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Indoor Display Showroom</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="{{ '/static/about/rooftop-showroom-environment.webp' | url }}" alt="Outdoor Showroom Display" width="600" height="400" class="img-responsive">
            <img src="{{ '/static/about/rooftop-showroom-environment.jpg' | url }}" alt="Outdoor Showroom Display" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Outdoor Showroom Display</p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-50 padding-btm-30">
  <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Why Choose Us</p>
<div class="row">
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/expert-in-customized-design-solutions.webp' | url }}" alt="Expert in Customized Design Solutions" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/expert-in-customized-design-solutions.jpg' | url }}" alt="Expert in Customized Design Solutions" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Expert in Customized Design Solutions</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/quick-3d-printed-sample-prototyping.webp' | url }}" alt="Quick 3D Printed Sample Prototyping" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/quick-3d-printed-sample-prototyping.jpg' | url }}" alt="Quick 3D Printed Sample Prototyping" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Quick 3D Printed Sample Prototyping</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/site-based-design-technical-drawings.webp' | url }}" alt="Site-Based Design & Technical Drawings" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/site-based-design-technical-drawings.jpg' | url }}" alt="Site-Based Design & Technical Drawings" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Site-Based Design & Technical Drawings</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/hands-on-training-at-our-factory.webp' | url }}" alt="Hands-On Training at Our Factory" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/hands-on-training-at-our-factory.jpg' | url }}" alt="Hands-On Training at Our Factory" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Hands-On Training at Our Factory</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/on-site-training-for-dealers.webp' | url }}" alt="On-Site Training for Dealers" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/on-site-training-for-dealers.jpg' | url }}" alt="On-Site Training for Dealers" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">On-Site Training for Dealers</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/professional-site-supervision-guidance.webp' | url }}" alt="Professional Site Supervision & Guidance" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/professional-site-supervision-guidance.jpg' | url }}" alt="Professional Site Supervision & Guidance" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Professional Site Supervision & Guidance</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/international-installation-support.webp' | url }}" alt="International Installation Support" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/international-installation-support.jpg' | url }}" alt="International Installation Support" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">International Installation Support</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/20-years-of-global-project-experience.webp' | url }}" alt="20+ Years of Global Project Experience" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/20-years-of-global-project-experience.jpg' | url }}" alt="20+ Years of Global Project Experience" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">20+ Years of Global Project Experience</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="{{ '/static/why-choose-us/reliable-after-sales-support-warranty.webp' | url }}" alt="Reliable After-Sales Support & Warranty" width="600" height="400" class="img-responsive">
        <img src="{{ '/static/why-choose-us/reliable-after-sales-support-warranty.jpg' | url }}" alt="Reliable After-Sales Support & Warranty" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Reliable After-Sales Support & Warranty</p>
  </div>
</div>
</div>
<div class="bg-grey">
  <div class="container padding-top-50 padding-btm-40">
    <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Strategic Partnerships</p>
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/sauleda.webp' | url }}" alt="Sauleda" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/sauleda.jpg' | url }}" alt="Sauleda" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/dooya.webp' | url }}" alt="DOOYA" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/dooya.jpg' | url }}" alt="DOOYA" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/somfy.webp' | url }}" alt="Somfy" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/somfy.jpg' | url }}" alt="Somfy" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/serge-ferrari.webp' | url }}" alt="Serge Ferrari" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/serge-ferrari.jpg' | url }}" alt="Serge Ferrari" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/wistar.webp' | url }}" alt="WISTAR" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/wistar.jpg' | url }}" alt="WISTAR" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="{{ '/static/home/a-ok.webp' | url }}" alt="A-OK" width="300" height="100" class="img-responsive">
            <img src="{{ '/static/home/a-ok.jpg' | url }}" alt="A-OK" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "faq-support.njk" %}
{% endblock %}
