{% extends "base.njk" %}
{% set activeNav = "home" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}

{% block head %}
    <link rel="canonical" href="/">
    <link rel="alternate" hreflang="en" href="/">
    <meta property="og:url" content="/">
    <title>DAVIS: Motorized Awning Factory Since 1992</title>
    <meta name="keywords" content="DAVIS">
    <meta name="description" content="DAVIS was founded in 1992, focusing on the production of outdoor sunshade products.">
    <link rel="icon" href="/static/assets/favicon.png">
    <link rel="shortcut icon" href="https://davisawning.com/favicon.ico">
    <meta property="og:type" content="website">
    <meta property="og:title" content="DAVIS: Motorized Awning Factory Since 1992">
    <meta property="og:description" content="DAVIS was founded in 1992, focusing on the production of outdoor sunshade products.">
    <meta property="og:image" content="/static/assets/leader.jpg">
    <meta property="og:image:secure_url" content="/static/assets/leader.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="DAVIS">
    <meta name="p:domain_verify" content="b56c2e42cf9e20f37093ec4240d6dbcd"/>
    <link rel="apple-touch-icon" href="/static/assets/davis-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="DAVIS">
    <link type="text/css" rel="stylesheet" href="/assets/carouselnew.css">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "url": "https://davisawning.com/",
        "name": "DAVIS",
        "headline":"DAVIS: Motorized Awning Factory Since 1992",
        "description":"DAVIS was founded in 1992, focusing on the production of outdoor sunshade products.",
        "lastReviewed":"2025-12-31T09:42:54+00:00",
        "reviewedBy": {
          "@type": "Organization",
          "name": "DAVIS"
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://davisawning.com"
        },
        "primaryImageOfPage": {
          "@type": "ImageObject",
          "name": "/static/assets/leader.jpg"
        },
        "image": {
          "@type": "ImageObject",
          "url": "/static/assets/leader.jpg",
          "width": 1200,
          "height": 630
        },
        "publisher": {
          "@type": "Organization",
          "name": "DAVIS",
          "logo": {
            "@type": "ImageObject",
            "url": "/static/assets/logo.jpg",
            "width": 181,
            "height": 60
          }
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "image": "/static/about/about.jpg",
        "name": "DAVIS",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Shashui industrial zone, Songgang, Shishan Town, Nanhai District",
          "addressLocality": "Foshan",
          "addressRegion": "GD",
          "postalCode": "528234",
          "addressCountry": "CN"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 23.1679444,
          "longitude": 113.1262222
        },
        "url": "https://davisawning.com",
        "email": "melissa@davisawning.com",
        "telephone": "+86-135-2891-5770",
        "priceRange": "$$$"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://davisawning.com",
        "logo": "/static/assets/davis-logo.png",
        "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+86-135-2891-5770",
          "contactType": "sales"
        }]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://davisawning.com"
        }]
      }
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('consent', 'default', {
        analytics_storage: 'denied',
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        wait_for_update: 500,
        region: [
          'CA', 'US-CA', 'AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE', 'GB'
        ],
      });
      gtag('set', 'url_passthrough', true);
      gtag('set', 'ads_data_redaction', true);
    </script>
    <script>
      if (localStorage['gtag.consent.option'] !== undefined) {
        const option = JSON.parse(localStorage['gtag.consent.option']);
        gtag('consent', 'update', option);
      }
    </script>
    <script>
      window.addEventListener('load',function() {
        document.addEventListener('click', function (e) {
        const btnAcceptCookie = e.target.closest('#cookie-bar > div > button.btn.btn-primary.btn-radius.margin-right-15');
          if (btnAcceptCookie === null) return;
          const option = {
            'analytics_storage': 'granted',
            'ad_storage': 'granted',
            'ad_user_data': 'granted',
            'ad_personalization': 'granted'
          };
          gtag('consent', 'update', option);
          localStorage['gtag.consent.option'] = JSON.stringify(option);
        });
      });
    </script>
    <script>
      window.addEventListener('load',function() {
        document.addEventListener('click', function (e) {
        const btnRejectCookie = e.target.closest('#cookie-bar > div > button.btn.btn-transparent.btn-radius');
          if (btnRejectCookie === null) return;
          const option = {
            'analytics_storage': 'denied',
            'ad_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied'
          };
          gtag('consent', 'update', option);
          localStorage.removeItem('gtag.consent.option');
        });
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G64KLDXVRF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G64KLDXVRF');
    </script>
    <script>
      window.addEventListener('load', function (event) {
        document.querySelectorAll('[href*="mailto:"]').forEach(function (e) {
          e.addEventListener('click', function () {
            gtag('event', 'email_feedback', { 'send_to': 'G-G64KLDXVRF' });
          });
        });
      });
    </script>
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade hidden-sm hidden-xs" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-251017.webp" width="1920" height="700" alt="HAZO" class="img-responsive">
          <img src="/static/home/billboard-251017.jpg" width="1920" height="700" alt="DAVIS" class="img-responsive">
        </picture>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/retractable-roof/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-retractable-roof.webp" width="1920" height="700" alt="Retractable Roof" class="img-responsive">
          <img src="/static/home/billboard-retractable-roof.jpg" width="1920" height="700" alt="Retractable Roof" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/aluminum-bioclimate-pergola/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-aluminum-bioclimate-pergola.webp" width="1920" height="700" alt="Aluminum Bioclimate Pergola" class="img-responsive">
          <img src="/static/home/billboard-aluminum-bioclimate-pergola.jpg" width="1920" height="700" alt="Aluminum Bioclimate Pergola" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/about/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-about.webp" width="1920" height="700" alt="About DAVIS" class="img-responsive">
          <img src="/static/home/billboard-about.jpg" width="1920" height="700" alt="About DAVIS" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-partners.webp" width="1920" height="700" alt="Partners" class="img-responsive">
          <img src="/static/home/billboard-partners.jpg" width="1920" height="700" alt="Partners" class="img-responsive">
        </picture>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div id="carouselExampleAutoplayingsmall" class="carousel slide carousel-fade hidden-md hidden-lg hidden-xl hidden-xxl" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-251017-small.webp" width="1000" height="1000" alt="DAVIS" class="img-responsive">
          <img src="/static/home/billboard-251017-small.jpg" width="1000" height="1000" alt="DAVIS" class="img-responsive">
        </picture>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/retractable-roof/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-retractable-roof-small.webp" width="1000" height="1000" alt="Retractable Roof" class="img-responsive">
          <img src="/static/home/billboard-retractable-roof-small.jpg" width="1000" height="1000" alt="Retractable Roof" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/aluminum-bioclimate-pergola/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-aluminum-bioclimate-pergola-small.webp" width="1000" height="1000" alt="Aluminum Bioclimate Pergola" class="img-responsive">
          <img src="/static/home/billboard-aluminum-bioclimate-pergola-small.jpg" width="1000" height="1000" alt="Aluminum Bioclimate Pergola" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
      <a href="/about/">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-about-small.webp" width="1000" height="1000" alt="About DAVIS" class="img-responsive">
          <img src="/static/home/billboard-about-small.jpg" width="1000" height="1000" alt="About DAVIS" class="img-responsive">
        </picture>
      </a>
    </div>
    <div class="carousel-item " data-bs-interval="3000">
        <picture>
          <source type="image/webp" srcset="/static/home/billboard-partners-small.webp" width="1000" height="1000" alt="Partners" class="img-responsive">
          <img src="/static/home/billboard-partners-small.jpg" width="1000" height="1000" alt="Partners" class="img-responsive">
        </picture>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplayingsmall" data-bs-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplayingsmall" data-bs-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div class="container padding-top-50 padding-btm-30">
  <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Products Introduce</p>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/full-cassette-awning/">
            <picture>
              <source type="image/webp" srcset="/static/home/full-cassette-awning.webp" alt="Full Cassette Awning" width="800" height="400" class="img-responsive">
              <img src="/static/home/full-cassette-awning.png" alt="Full Cassette Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/full-cassette-awning/" class="hover-color-black">Full Cassette Awning</a></p>
        <p class="text-justify margin-btm-40">Modern electric retractable awning with built-in LED lighting</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/retractable-roof/">
            <picture>
              <source type="image/webp" srcset="/static/home/retractable-roof.webp" alt="Retractable Roof" width="800" height="400" class="img-responsive">
              <img src="/static/home/retractable-roof.png" alt="Retractable Roof" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/retractable-roof/" class="hover-color-black">Retractable Roof</a></p>
        <p class="text-justify margin-btm-40">Aluminum alloy frame, PVC fabric, large coverage and shade</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/bioclimate-pergola/">
            <picture>
              <source type="image/webp" srcset="/static/home/bioclimate-pergola.webp" alt="Bioclimate Pergola" width="800" height="400" class="img-responsive">
              <img src="/static/home/bioclimate-pergola.png" alt="Bioclimate Pergola" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/bioclimate-pergola/" class="hover-color-black">Bioclimate Pergola</a></p>
        <p class="text-justify margin-btm-40">Smart aluminum pergola <motorized louvers, remote control</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/zip-screen/">
            <picture>
              <source type="image/webp" srcset="/static/home/zip-screen.webp" alt="Zip Screen" width="800" height="400" class="img-responsive">
              <img src="/static/home/zip-screen.png" alt="Zip Screen" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/zip-screen/" class="hover-color-black">Zip Screen</a></p>
        <p class="text-justify margin-btm-40">Suitable for indoor sunshade, mosquito repellent and ventilation</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/window-awning/">
            <picture>
              <source type="image/webp" srcset="/static/home/window-awning.webp" alt="Window Awning" width="800" height="400" class="img-responsive">
              <img src="/static/home/window-awning.png" alt="Window Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/window-awning/" class="hover-color-black">Window Awning</a></p>
        <p class="text-justify margin-btm-40">Provides shading and heat insulation, beautifies buildings</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/original-awning/">
            <picture>
              <source type="image/webp" srcset="/static/home/original-awning.webp" alt="Original Awning" width="800" height="400" class="img-responsive">
              <img src="/static/home/original-awning.png" alt="Original Awning" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/original-awning/" class="hover-color-black">Original Awning</a></p>
        <p class="text-justify margin-btm-40">Outdoor sunshade, heat insulation, electric retractable system</p>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
      <div class="bg-grey-products margin-btm-30">
        <div class="img-width-800 image-margin-center margin-btm-20">
          <a href="/external-roof-blinds/">
            <picture>
              <source type="image/webp" srcset="/static/home/external-roof-blinds.webp" alt="External Roof Blinds" width="800" height="400" class="img-responsive">
              <img src="/static/home/external-roof-blinds.png" alt="External Roof Blinds" width="800" height="400" class="img-responsive">
            </picture>
          </a>
        </div>
        <p class="font-size-20 font-weight-700"><a href="/external-roof-blinds/" class="hover-color-black">External Roof Blinds</a></p>
        <p class="text-justify margin-btm-40">Equipped with roof glass sunshade, heat insulation function</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey">
  <div class="container padding-top-50 padding-btm-30">
    <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">About HAZO WORLD</p>
    <div class="row">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-manufacturing-base.webp" alt="Manufacturing Base" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-manufacturing-base.jpg" alt="Manufacturing Base" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Manufacturing Base</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-showroom.webp" alt="Showroom" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-showroom.jpg" alt="Showroom" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Showroom</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-completed-projects.webp" alt="Completed Projects" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-completed-projects.jpg" alt="Completed Projects" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Completed Projects</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-export-to-70-countries.webp" alt="Export To 70+ Countries" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-export-to-70-countries.jpg" alt="Export To 70+ Countries" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Export To 70+ Countries</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-30-rd-team-members.webp" alt="30+ R&D Team Members" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-30-rd-team-members.jpg" alt="30+ R&D Team Members" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">30+ R&D Team Members</p>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6 margin-btm-20">
        <div class="img-width-400 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="/static/about/icon-200-national-patents.webp" alt="200+ National Patents" width="400" height="150" class="img-responsive">
            <img src="/static/about/icon-200-national-patents.jpg" alt="200+ National Patents" width="400" height="150" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">200+ National Patents</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-20">
        <p class="font-size-25 text-primary font-weight-700 margin-btm-20">Foshan Davis Outdoor Products Co., Ltd.</p>
        <p class="text-justify">Founded in 1992, DAVIS Outdoor Products Co., Ltd. is a 33-year manufacturer specializing in the R&D and production of outdoor shading systems. Its product range includes Retractable Awnings, Retractable Roofs, Aluminum Alloy Pergolas, Liftable Screens, Window Awnings, and Roof Roller Blinds.</p>
        <p class="text-justify">Operating from a 30,000 sqm factory, the company employs over 450 personnel, including 30 in R&D, 20 in sales, 300 in production, and 100 in installation/maintenance.</p>
        <p class="text-justify">DAVIS holds certifications including CE, ISO9001, IONET, SGS, GB-T, UL, and CUL, along with 200 patents. Its products are exported to over 120 countries, primarily in Europe and America, providing OEM and technical services for nearly 300 global brands.</p>
        <p class="margin-top-30"><a href="/about/" class="btn btn-primary btn-radius">About DAVIS</a></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
        <div class="img-width-800 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/about/about.webp" width="800" height="450" alt="About DAVIS" class="img-responsive">
            <img src="/static/about/about.jpg" width="800" height="450" alt="About DAVIS" class="img-responsive">
          </picture>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="/static/about/factory-interior-environment-1.webp" alt="Factory Interior Environment" width="600" height="400" class="img-responsive">
            <img src="/static/about/factory-interior-environment-1.jpg" alt="Factory Interior Environment" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Factory Interior Environment</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="/static/about/factory-interior-environment-2.webp" alt="Factory Interior Environment" width="600" height="400" class="img-responsive">
            <img src="/static/about/factory-interior-environment-2.jpg" alt="Factory Interior Environment" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Factory Interior Environment</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="/static/about/indoor-showroom-environment.webp" alt="Indoor Showroom Environment" width="600" height="400" class="img-responsive">
            <img src="/static/about/indoor-showroom-environment.jpg" alt="Indoor Showroom Environment" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Indoor Showroom Environment</p>
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
        <div class="img-width-600 image-margin-center margin-btm-10">
          <picture>
            <source type="image/webp" srcset="/static/about/rooftop-showroom-environment.webp" alt="Rooftop Showroom Environment" width="600" height="400" class="img-responsive">
            <img src="/static/about/rooftop-showroom-environment.jpg" alt="Rooftop Showroom Environment" width="600" height="400" class="img-responsive">
          </picture>
        </div>
        <p class="text-center">Rooftop Showroom Environment</p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-50 padding-btm-30">
  <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Why Choose Us</p>
<div class="row">
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/expert-in-customized-design-solutions.webp" alt="Expert in Customized Design Solutions" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/expert-in-customized-design-solutions.jpg" alt="Expert in Customized Design Solutions" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Expert in Customized Design Solutions</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/quick-3d-printed-sample-prototyping.webp" alt="Quick 3D Printed Sample Prototyping" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/quick-3d-printed-sample-prototyping.jpg" alt="Quick 3D Printed Sample Prototyping" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Quick 3D Printed Sample Prototyping</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/site-based-design-technical-drawings.webp" alt="Site-Based Design & Technical Drawings" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/site-based-design-technical-drawings.jpg" alt="Site-Based Design & Technical Drawings" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Site-Based Design & Technical Drawings</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/hands-on-training-at-our-factory.webp" alt="Hands-On Training at Our Factory" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/hands-on-training-at-our-factory.jpg" alt="Hands-On Training at Our Factory" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Hands-On Training at Our Factory</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/on-site-training-for-dealers.webp" alt="On-Site Training for Dealers" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/on-site-training-for-dealers.jpg" alt="On-Site Training for Dealers" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">On-Site Training for Dealers</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/professional-site-supervision-guidance.webp" alt="Professional Site Supervision & Guidance" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/professional-site-supervision-guidance.jpg" alt="Professional Site Supervision & Guidance" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Professional Site Supervision & Guidance</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/international-installation-support.webp" alt="International Installation Support" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/international-installation-support.jpg" alt="International Installation Support" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">International Installation Support</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/20-years-of-global-project-experience.webp" alt="20+ Years of Global Project Experience" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/20-years-of-global-project-experience.jpg" alt="20+ Years of Global Project Experience" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">20+ Years of Global Project Experience</p>
  </div>
  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-btm-20">
    <div class="img-width-600 image-margin-center margin-btm-10">
      <picture>
        <source type="image/webp" srcset="/static/why-choose-us/reliable-after-sales-support-warranty.webp" alt="Reliable After-Sales Support & Warranty" width="600" height="400" class="img-responsive">
        <img src="/static/why-choose-us/reliable-after-sales-support-warranty.jpg" alt="Reliable After-Sales Support & Warranty" width="600" height="400" class="img-responsive">
      </picture>
    </div>
    <p class="text-center">Reliable After-Sales Support & Warranty</p>
  </div>
</div>
</div>
<div class="bg-grey">
  <div class="container padding-top-50 padding-btm-40">
    <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Strategic Partnerships</p>
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/sauleda.webp" alt="Sauleda" width="300" height="100" class="img-responsive">
            <img src="/static/home/sauleda.jpg" alt="Sauleda" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/dooya.webp" alt="DOOYA" width="300" height="100" class="img-responsive">
            <img src="/static/home/dooya.jpg" alt="DOOYA" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/somfy.webp" alt="Somfy" width="300" height="100" class="img-responsive">
            <img src="/static/home/somfy.jpg" alt="Somfy" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/serge-ferrari.webp" alt="Serge Ferrari" width="300" height="100" class="img-responsive">
            <img src="/static/home/serge-ferrari.jpg" alt="Serge Ferrari" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/wistar.webp" alt="WISTAR" width="300" height="100" class="img-responsive">
            <img src="/static/home/wistar.jpg" alt="WISTAR" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
        <div class="img-width-300 image-margin-center">
          <picture>
            <source type="image/webp" srcset="/static/home/a-ok.webp" alt="A-OK" width="300" height="100" class="img-responsive">
            <img src="/static/home/a-ok.jpg" alt="A-OK" width="300" height="100" class="img-responsive">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-50 padding-btm-40">
  <p class="font-size-25 text-black text-center font-weight-500 margin-btm-30">Meet DAVIS at International Fairs</p>
  <div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-1.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-1.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-2.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-2.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-3.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-3.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-4.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-4.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-5.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-5.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-6.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-6.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-7.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-7.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-30">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="/static/home/international-fairs-8.webp" alt="International Fairs" width="600" height="400" class="img-responsive">
          <img src="/static/home/international-fairs-8.jpg" alt="International Fairs" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
  </div>
  <p class="text-justify">Every year, we take part in the Canton Fair in Guangzhou and R+T Asia in Shanghai to showcase our latest outdoor shading solutions. These exhibitions offer a great opportunity to experience our products firsthand and explore customized solutions. We warmly invite you to visit our booth and meet us in person!</p>
</div>
    <div class="img-pr">
      <div class="hidden-md hidden-xs hidden-sm">
        <picture>
          <source type="image/webp" srcset="/static/assets/faq-support.webp" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
          <img src="/static/assets/faq-support.jpg" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
        </picture>
      </div>
      <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
          <source type="image/webp" srcset="/static/assets/faq-support-small.webp" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
          <img src="/static/assets/faq-support-small.jpg" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
        </picture>
      </div>
      <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="/contact/" class="btn btn-primary btn-radius">Contact Us</a>
      </div>
    </div>
{% endblock %}
