{% extends "base.njk" %}
{% set activeNav = "contact" %}
{% set showLanguageLink = true %}
{% set plainFeedbackLink = true %}
{% set pageUrl = '/contact/' %}
{% set pageTitle = "Contact Us" %}
{% set pageOgImage = '/static/leader.jpg' | url %}
{% set pageOgImageAlt = "Contact Us" %}
{% set pageAppleTouchIcon = '/static/assets/hazo_logo.webp' | url %}
{% set breadcrumbTitle = "Contact Us" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Contact Us</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-60">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Contact Us</h1>
  <div class="bg-white img-rounded box-shadow">
    <div class="row">
      <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <iframe
            title="Google Map"
            src="https://www.google.com/maps?q=Level%205,%207%20Eden%20Park%20Drive,%20North%20Ryde,%20NSW%202113,%20Australia&output=embed"
            width="800"
            height="570"
            style="border:0; width:100%; display:block;"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            allowfullscreen>
        </iframe>

<!--        <p class="margin-top-10">-->
<!--          <a href="https://maps.app.goo.gl/4XB3Qci8ASWNgxf66" target="_blank" rel="noopener">-->
<!--            Open in Google Maps-->
<!--          </a>-->
<!--        </p>-->

      </div>
      <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-40">
        <p class="text-black">Address</p>
        <p class="font-weight-500">Level 5, 7 Eden Park Drive, North Ryde, NSW 2113, Australia</p>
        <p class="text-black">E-mail</p>
        <p class="font-size-25 font-weight-500"><a href="mailto:Info@hazoworld.com" target="_blank">Info@hazoworld.com</a></p>
        <p class="text-black">Phone</p>
        <p class="font-weight-500">+61</p>
        <div class="row margin-top-30 img-width-500">
          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">
            <a href="https://www.facebook.com/" target="_blank">
              <picture>
                <source type="image/webp" srcset="{{ '/static/assets/facebook.webp' | url }}" alt="Facebook" width="39" height="39">
                <img src="{{ '/static/assets/facebook.png' | url }}" alt="Facebook" width="39" height="39">
              </picture>
            </a>
          </div>
<!--          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">-->
<!--            <a href="https://twitter.com/" target="_blank">-->
<!--              <picture>-->
<!--                <source type="image/webp" srcset="{{ '/static/assets/twitter.webp' | url }}" alt="Twitter" width="39" height="39">-->
<!--                <img src="{{ '/static/assets/twitter.png' | url }}" alt="Twitter" width="39" height="39">-->
<!--              </picture>-->
<!--            </a>-->
<!--          </div>-->
          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">
            <a href="https://www.linkedin.com/company/" target="_blank">
              <picture>
                <source type="image/webp" srcset="{{ '/static/assets/linkedin.webp' | url }}" alt="Linkedin" width="39" height="39">
                <img src="{{ '/static/assets/linkedin.png' | url }}" alt="Linkedin" width="39" height="39">
              </picture>
            </a>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">
            <a href="https://www.instagram.com/" target="_blank">
              <picture>
                <source type="image/webp" srcset="{{ '/static/assets/instagram.webp' | url }}" alt="Instagram" width="39" height="39">
                <img src="{{ '/static/assets/instagram.png' | url }}" alt="Instagram" width="39" height="39">
              </picture>
            </a>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">
            <a href="https://www.pinterest.com/" target="_blank">
              <picture>
                <source type="image/webp" srcset="{{ '/static/assets/pinterest.webp' | url }}" alt="Pinterest" width="39" height="39">
                <img src="{{ '/static/assets/pinterest.png' | url }}" alt="Pinterest" width="39" height="39">
              </picture>
            </a>
          </div>
          <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">
            <a href="https://www.youtube.com/" target="_blank">
              <picture>
                <source type="image/webp" srcset="{{ '/static/assets/youtube.webp' | url }}" alt="Youtube" width="39" height="39">
                <img src="{{ '/static/assets/youtube.png' | url }}" alt="Youtube" width="39" height="39">
              </picture>
            </a>
          </div>
        </div>
        <div id="get-a-free-quote"></div>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey">
  <div class="container padding-top-50 padding-btm-10">
    <p class="font-size-25 text-black font-weight-500">Get a Free Quote</p>
    {% include "product-quote-form.njk" %}
  </div>
</div>
{% endblock %}
