<div class="img-pr img-dark-mask">
    <div class="hidden-md hidden-xs hidden-sm">
        <picture>
            <source type="image/webp" srcset="{{ '/static/assets/faq-support.webp' | url }}" alt="FAQ & Support" style="filter: brightness(0.3); "  width="3840" height="1000" class="img-responsive">
            <img src="{{ '/static/assets/faq-support.jpg' | url }}" alt="FAQ & Support" width="3840" height="1000" style="filter: brightness(0.3); " class="img-responsive">
        </picture>
    </div>
    <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
            <source type="image/webp" srcset="{{ '/static/assets/faq-support-small.webp' | url }}" alt="FAQ & Support"  style="filter: brightness(0.3); " width="1000" height="900" class="img-responsive">
            <img src="{{ '/static/assets/faq-support-small.jpg' | url }}" alt="FAQ & Support" width="1000" height="900" style="filter: brightness(0.3); "  class="img-responsive">
        </picture>
    </div>
    <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="{{ '/contact/' | url }}" class="btn btn-primary btn-radius">Contact Us</a>
    </div>
</div>
