<div class="container">
      <div class="row margin-top-50 padding-btm-20">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-30 hidden-xs">
          <div class="img-width-200 margin-btm-20">
            <picture>
              <source type="image/webp" srcset="{{ '/static/assets/hazo_logo.webp' | url }}" height="35" alt="HAZO Logo">
              <img src="{{ '/static/assets/hazo_logo.png' | url }}" height="35" alt="HAZO Logo">
            </picture>
          </div>
          <p class="text-primary font-size-18 font-weight-700">HAZO WOLRD PTY LTD.</p>
          <p>Our Mission To Customers:</p>
          <p>To obtain your trust with professional</p>
          <p>Services & quality productions</p>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-30 hidden-xs">
          <p class="text-black font-size-20 font-weight-700">Products</p>
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p><a href="{{ '/retractable-roof/' | url }}" class="hover-color">Retractable Roof</a></p>
              <p><a href="{{ '/full-cassette-awning/' | url }}" class="hover-color">Full Cassette Awning</a></p>
              <p><a href="{{ '/bioclimate-pergola/' | url }}" class="hover-color">Bioclimate Pergola</a></p>
              <p><a href="{{ '/zip-screen/' | url }}" class="hover-color">Zip Screen</a></p>
              <p><a href="{{ '/window-awning/' | url }}" class="hover-color">Window Awning</a></p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p><a href="{{ '/original-awning/' | url }}" class="hover-color">Original Awning</a></p>
              <p><a href="{{ '/fabric-roof-blind/' | url }}" class="hover-color">Fabric Roof Blind</a></p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 margin-btm-30">
          <p class="text-black font-size-20 font-weight-700">Contact Us</p>
          <p>If you have any questions, please contact us !</p>
          <p><span class="text-black">E-mail:</span> <a href="mailto:Info@hazoworld.com" target="_blank">Info@hazoworld.com</a></p>
          <p><span class="text-black">Phone:</span> +61 2 5501 3001</p>
          <p><span class="text-black">Address:</span> Level 5, 7 Eden Park Drive, North Ryde, NSW 2113, Australia</p>
{#          <div class="row margin-top-30 img-width-600">#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://www.facebook.com/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/facebook.webp' | url }}" alt="Facebook" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/facebook.png' | url }}" alt="Facebook" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://twitter.com/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/twitter.webp' | url }}" alt="Twitter" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/twitter.png' | url }}" alt="Twitter" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://www.linkedin.com/company/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/linkedin.webp' | url }}" alt="Linkedin" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/linkedin.png' | url }}" alt="Linkedin" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://www.instagram.com/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/instagram.webp' | url }}" alt="Instagram" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/instagram.png' | url }}" alt="Instagram" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://www.pinterest.com/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/pinterest.webp' | url }}" alt="Pinterest" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/pinterest.png' | url }}" alt="Pinterest" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 margin-btm-20">#}
{#              <a href="https://www.youtube.com/" target="_blank">#}
{#                <picture>#}
{#                  <source type="image/webp" srcset="{{ '/static/assets/youtube.webp' | url }}" alt="Youtube" width="39" height="39">#}
{#                  <img src="{{ '/static/assets/youtube.png' | url }}" alt="Youtube" width="39" height="39">#}
{#                </picture>#}
{#              </a>#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <div class="bg-grey text-center padding-top-20 padding-btm-20">HAZO WOLRD PTY LTD. | <a href="{{ '/sitemap.xml' | url }}" class="hover-color" target="_blank">Sitemap</a></div>
    <div class="feedback">
      <a href="{% if plainFeedbackLink %}#get-a-free-quote{% else %}#{% endif %}"{% if not plainFeedbackLink %} data-bs-toggle="modal" data-bs-target="#get-a-free-quote"{% endif %} title="Get a Free Quote">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/contact-support.webp' | url }}" width="35" height="33" alt="Get a Free Quote">
          <img src="{{ '/static/assets/contact-support.png' | url }}" width="35" height="33" alt="Get a Free Quote">
        </picture>
      </a>
    </div>
    <div class="back-to-top">
      <a href="#">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/back-to-top.webp' | url }}" width="35" height="33" alt="Back To Top">
          <img src="{{ '/static/assets/back-to-top.png' | url }}" width="35" height="33" alt="Back To Top">
        </picture>
      </a>
    </div>
    <div class="cookie-bar" id="cookie-bar">
      <div class="container padding-top-30 padding-btm-30">
        <p class="font-size-20 text-black font-weight-500">We use cookies</p>
        <p>We use cookies and other tracking technologies to improve your browsing experience on our website, to show you personalized content and targeted ads, to analyze our website traffic, and to understand where our visitors are coming from.</p>
        <button class="btn btn-primary btn-radius margin-right-15" onclick="closebar_cookie()">Accept</button>
        <button class="btn btn-transparent btn-radius" onclick="closebar_cookie()">Refuse</button>
      </div>
    </div>
    <div class="modal fade" id="allproducts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <p class="font-nunito-sans modal-title font-size-20 text-black font-weight-700" id="exampleModalLabel">Products</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row margin-top-10">
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/full-cassette-awning/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/full-cassette-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="Full Cassette Awning">
                      <img src="{{ '/static/products/full-cassette-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Full Cassette Awning">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/full-cassette-awning/' | url }}" class="hover-color">Full Cassette Awning</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/retractable-roof/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/retractable-roof.webp' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Roof">
                      <img src="{{ '/static/products/retractable-roof.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Roof">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/retractable-roof/' | url }}" class="hover-color">Retractable Roof</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/bioclimate-pergola/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/bioclimate-pergola.webp' | url }}" width="800" height="700" class="img-responsive" alt="Bioclimate Pergola">
                      <img src="{{ '/static/products/bioclimate-pergola.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Bioclimate Pergola">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/bioclimate-pergola/' | url }}" class="hover-color">Bioclimate Pergola</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/zip-screen/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/zip-screen.webp' | url }}" width="800" height="700" class="img-responsive" alt="Zip Screen">
                      <img src="{{ '/static/products/zip-screen.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Zip Screen">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/zip-screen/' | url }}" class="hover-color">Zip Screen</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/window-awning/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/window-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="Window Awning">
                      <img src="{{ '/static/products/window-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Window Awning">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/window-awning/' | url }}" class="hover-color">Window Awning</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/original-awning/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/original-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="Original Awning">
                      <img src="{{ '/static/products/original-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Original Awning">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/original-awning/' | url }}" class="hover-color">Original Awning</a></p>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
                <div class="img-width-800 image-margin-center margin-btm-10">
                  <a href="{{ '/fabric-roof-blind/' | url }}">
                    <picture>
                      <source type="image/webp" srcset="{{ '/static/products/fabric-roof-blind.webp' | url }}" width="800" height="700" class="img-responsive" alt="Fabric Roof Blind">
                      <img src="{{ '/static/products/fabric-roof-blind.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Fabric Roof Blind">
                    </picture>
                  </a>
                </div>
                <p class="font-size-18 text-center font-weight-700"><a href="{{ '/fabric-roof-blind/' | url }}" class="hover-color">Fabric Roof Blind</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="get-a-free-quote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <p class="font-nunito-sans modal-title font-size-20 text-black font-weight-700" id="exampleModalLabel">How Can We Help You</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include "product-quote-form.njk" %}
          </div>
        </div>
      </div>
    </div>
