<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00D5g0000097hss"
      method="POST"
      class="margin-top-20 margin-btm-40">

    <!-- Salesforce required hidden fields -->
    <input type="hidden" name="captcha_settings"
           value='{"keyname":"hazoworld","fallback":"true","orgId":"00D5g0000097hss","ts":""}'>
    <input type="hidden" name="oid" value="00D5g0000097hss">
    <input type="hidden" name="retURL" value="http://hazoworld.com">

{# todo first name, last name, email company phone, lead record type message #}
{#    <input class="form-control-new" type="text" name="url" value="http://hazoworld.com{{ pageUrl }}" readonly>#}
{#    <input class="form-control-new" type="text" name="title" value="{{ pageTitle }}" readonly>#}

    <div class="row">
        <!-- First Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control margin-btm-20"
                   id="first_name"
                   maxlength="40"
                   name="first_name"
                   type="text"
                   placeholder="First Name">
        </div>

        <!-- Last Name -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control margin-btm-20"
                   id="last_name"
                   maxlength="80"
                   name="last_name"
                   type="text"
                   placeholder="Last Name">
        </div>

        <!-- Email -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control margin-btm-20"
                   id="email"
                   maxlength="80"
                   name="email"
                   type="email"
                   placeholder="* Email"
                   required>
        </div>

        <!-- Company -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control margin-btm-20"
                   id="company"
                   maxlength="40"
                   name="company"
                   type="text"
                   placeholder="Company">
        </div>

        <!-- Phone -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input class="form-control margin-btm-20"
                   id="phone"
                   maxlength="40"
                   name="phone"
                   type="tel"
                   placeholder="* Phone"
                   required>
        </div>

        <!-- Lead Record Type -->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <select class="form-control margin-btm-20" id="recordType" name="recordType" required>
                <option value="">* Lead Record Type</option>
                <option value="0125g000000hxXu">Commercial Lead User</option> <!-- todo force
 -->                <option value="0125g000000hsee">Private User Lead</option>
            </select>
        </div>
    </div>

    <!-- Message：Salesforce 默认字段名是 description -->
    <textarea class="form-control height-150 margin-btm-30"
              id="description"
              name="description"
              placeholder="* Message"
              required></textarea>

    <!-- reCAPTCHA -->
    <div class="margin-btm-20">
        <div class="g-recaptcha" data-sitekey="6LdIaHAsAAAAAFPOE-mYxhxlIUCwglNRMaZKS0n2"></div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-radius">Send it NOW</button>
    </div>
</form>
