{% extends "base.njk" %}
{% set activeNav = "catalog" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/catalog/' %}
{% set pageTitle = "Catalog" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Catalog" %}
{% set breadcrumbTitle = "Catalog" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Catalog</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-30">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Catalog</h1>
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1iJblFOAy4LMw9mYdTP8_pAtLln-HVL8l/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/dq-a-full-cassette-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="DQ-A Full Cassette Awning Catalog">
            <img src="{{ '/static/products/dq-a-full-cassette-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="DQ-A Full Cassette Awning Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/dq-a-full-cassette-awning/' | url }}" class="hover-color" target="_blank">DQ-A Full Cassette Awning Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1GIqq4fvlyqqLo61gR1ptnYV3XwwVNw1K/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/dq-b-full-cassette-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="DQ-B Full Cassette Awning Catalog">
            <img src="{{ '/static/products/dq-b-full-cassette-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="DQ-B Full Cassette Awning Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/dq-b-full-cassette-awning/' | url }}" class="hover-color" target="_blank">DQ-B Full Cassette Awning Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1PsQnKciBRbjGuvSId210f-r-hxRChlC5/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/retractable-roof.webp' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Roof Catalog">
            <img src="{{ '/static/products/retractable-roof.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Roof Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/retractable-roof/' | url }}" class="hover-color" target="_blank">Retractable Roof Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/drive/folders/1OfpAL2lj5vBe-Z_P2sClMOdCCmNUhsxl?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/aluminum-bioclimate-pergola.webp' | url }}" width="800" height="700" class="img-responsive" alt="Aluminum Bioclimate Pergola Catalog">
            <img src="{{ '/static/products/aluminum-bioclimate-pergola.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Aluminum Bioclimate Pergola Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/aluminum-bioclimate-pergola/' | url }}" class="hover-color" target="_blank">Aluminum Bioclimate Pergola Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/103q8lVsPKG_3HTU66O9IGU-5Ihz3_jaI/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/retractable-louvered-pergola.webp' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Louvered Pergola Catalog">
            <img src="{{ '/static/products/retractable-louvered-pergola.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Retractable Louvered Pergola Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/retractable-louvered-pergola/' | url }}" class="hover-color" target="_blank">Retractable Louvered Pergola Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1O_eJoODezYJDMCoN1lxlRwixt6Bv4X1o/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/zip-screen.webp' | url }}" width="800" height="700" class="img-responsive" alt="Zip Screen Catalog">
            <img src="{{ '/static/products/zip-screen.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Zip Screen Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/zip-screen/' | url }}" class="hover-color" target="_blank">Zip Screen Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/drive/folders/1uaB2d2grZGR3lcDAfKIf9z5XoKjPt1aV?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/window-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="Window Awning Catalog">
            <img src="{{ '/static/products/window-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Window Awning Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/window-awning/' | url }}" class="hover-color" target="_blank">Window Awning Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1IgoBvao8s_PC4obMYGAp-d8jYUnQwlYo/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/original-awning.webp' | url }}" width="800" height="700" class="img-responsive" alt="Original Awning Catalog">
            <img src="{{ '/static/products/original-awning.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Original Awning Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/original-awning/' | url }}" class="hover-color" target="_blank">Original Awning Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1B6geeGCtGaDNC0ycPz6v4knx34apuVpk/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/fabric-roof-blind.webp' | url }}" width="800" height="700" class="img-responsive" alt="Fabric Roof Blind Catalog">
            <img src="{{ '/static/products/fabric-roof-blind.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Fabric Roof Blind Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/fabric-roof-blind/' | url }}" class="hover-color" target="_blank">Fabric Roof Blind Catalog</a></p>
    </div>

    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1ZfdP-WJvSbH5YidOI62ZoY499nczZP6u/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/standard-garden-dome-igloo.webp' | url }}" width="800" height="700" class="img-responsive" alt="Standard Garden Dome Igloo Catalog">
            <img src="{{ '/static/products/standard-garden-dome-igloo.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Standard Garden Dome Igloo Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/standard-garden-dome-igloo/' | url }}" class="hover-color" target="_blank">Standard Garden Dome Igloo Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1E3v6DAQvEHDoWN0mdy2Q6U7tJDwJy04_/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/luxury-garden-dome-igloo.webp' | url }}" width="800" height="700" class="img-responsive" alt="Luxury Garden Dome Igloo Catalog">
            <img src="{{ '/static/products/luxury-garden-dome-igloo.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Luxury Garden Dome Igloo Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/luxury-garden-dome-igloo/' | url }}" class="hover-color" target="_blank">Luxury Garden Dome Igloo Catalog</a></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-800 image-margin-center margin-btm-10">
        <a href="https://drive.google.com/file/d/1QZXft1riSl7cfnDaQmV3oaYCbj1vH6G2/view?usp=sharing" target="_blank">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/modular-building-cabin-space-capsule.webp' | url }}" width="800" height="700" class="img-responsive" alt="Modular Building Cabin Space Capsule Catalog">
            <img src="{{ '/static/products/modular-building-cabin-space-capsule.jpg' | url }}" width="800" height="700" class="img-responsive" alt="Modular Building Cabin Space Capsule Catalog">
          </picture>
        </a>
      </div>
      <p class="font-size-18 text-center font-weight-700 catalog-title-height"><a href="{{ '/modular-building-cabin-space-capsule/' | url }}" class="hover-color" target="_blank">Modular Building Cabin Space Capsule Catalog</a></p>
    </div>
  </div>
</div>
    <div class="img-pr">
      <div class="hidden-md hidden-xs hidden-sm">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support.webp' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
          <img src="{{ '/static/assets/faq-support.jpg' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
        </picture>
      </div>
      <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support-small.webp' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
          <img src="{{ '/static/assets/faq-support-small.jpg' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
        </picture>
      </div>
      <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="{{ '/contact/' | url }}" class="btn btn-primary btn-radius">Contact Us</a>
      </div>
    </div>
{% endblock %}
