{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/aluminum-alloy-roof-roller-shutters/' %}
{% set pageTitle = "Aluminum Alloy Roof Roller Shutters" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Aluminum Alloy Roof Roller Shutters" %}
{% set breadcrumbTitle = "Aluminum Alloy Roof Roller Shutters" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-red">Aluminum Alloy Roof Roller Shutters</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40">
  <div class="row margin-btm-10">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
      <div class="img-width-800 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-30">
      <h1 class="font-size-25 font-comfortaa text-black font-weight-700 margin-btm-20">Aluminum Alloy Roof Roller Shutters</h1>
      <p>The aluminum alloy roof roller shutters use aluminum alloy curtains for shading, the system adopts double motor FTS mechanism, the product is more stable, long service life, the heat insulation effect is not only far better than the various indoor sunshade products in the sunroom, it can significantly reduce the indoor temperature.</p>
      <p class="margin-top-30 font-weight-700">Applicable venue:</p>
      <p><span class="text-red margin-right-8"></span>High-end clubs, star hotels, villas and other outdoor places.</p>
<span class="text-red margin-right-8"></span>Terrace, restaurant, swimming pool, garden glass house, private residential area, etc.

      <p class="margin-top-30"><a href="https://drive.google.com/drive/folders/10QYDAEGYo4xTjBzwP9jQshS81AyK1H8i?usp=sharing" class="btn btn-red btn-radius" target="_blank">Catalog Download</a></p>
      <div class="row margin-top-40">
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-btm-20">
          <div class="img-width-100 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-1.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-1.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-btm-20">
          <div class="img-width-100 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-2.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-2.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-btm-20">
          <div class="img-width-100 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-3.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-3.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-btm-20">
          <div class="img-width-100 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-4.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-4.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-btm-20">
          <div class="img-width-100 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-5.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-icon-5.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="100" height="100" class="img-responsive">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p class="font-size-25 text-red font-comfortaa font-weight-700 margin-btm-30">Optional Appearance</p>
  <div class="row margin-btm-10">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-500 image-margin-center margin-btm-10">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-m1-style.webp' | url }}" alt="M1 Style" width="500" height="241" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-m1-style.jpg' | url }}" alt="M1 Style" width="500" height="241" class="img-responsive">
        </picture>
      </div>
      <p class="text-black text-center">M1 Style</p>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
      <div class="img-width-500 image-margin-center margin-btm-10">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-m3-style.webp' | url }}" alt="M3 Style" width="500" height="241" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-m3-style.jpg' | url }}" alt="M3 Style" width="500" height="241" class="img-responsive">
        </picture>
      </div>
      <p class="text-black text-center">M3 Style</p>
    </div>
  </div>
  <p class="font-size-25 text-red font-comfortaa font-weight-700 margin-btm-30">Introduction</p>
  <div class="row margin-btm-10">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-30">
      <div class="img-width-700 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-introduction.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Introduction" width="700" height="820" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-introduction.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Introduction" width="700" height="820" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-20">
      <p class="font-size-20 text-black font-weight-700">Features</p>
      <div class="row margin-btm-10">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-btm-30">
          <div class="img-width-400 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-100-sunshade.webp' | url }}" alt="100% Sunshade" width="400" height="400" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-100-sunshade.png' | url }}" alt="100% Sunshade" width="400" height="400" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-btm-30">
          <div class="img-width-400 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-95-insulation.webp' | url }}" alt="95% Insulation" width="400" height="400" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-95-insulation.png' | url }}" alt="95% Insulation" width="400" height="400" class="img-responsive">
            </picture>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-btm-30">
          <div class="img-width-400 image-margin-center">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-anti-frost.webp' | url }}" alt="Anti Frost" width="400" height="400" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-anti-frost.png' | url }}" alt="Anti Frost" width="400" height="400" class="img-responsive">
            </picture>
          </div>
        </div>
      </div>
      <p class="font-size-20 text-black font-weight-700">Motor Operation Principle</p>
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
          <div class="img-width-600 image-margin-center margin-btm-10">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-blade-retraction.webp' | url }}" alt="Blade Retraction" width="600" height="463" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-blade-retraction.jpg' | url }}" alt="Blade Retraction" width="600" height="463" class="img-responsive">
            </picture>
          </div>
          <p class="text-black margin-btm-20">Blade Retraction:</p>
          <p>The red motor rotates clockwise, driving the steel belt and blades to rotate, while the blue motor follows.</p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-10">
          <div class="img-width-600 image-margin-center margin-btm-20">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-blade-extension.webp' | url }}" alt="Blade Extension" width="600" height="463" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-blade-extension.jpg' | url }}" alt="Blade Extension" width="600" height="463" class="img-responsive">
            </picture>
          </div>
          <p class="text-black margin-btm-20">Blade Extension:</p>
          <p>The blue motor rotates clockwise, driving the steel belt and blades to rotate, while the red motor follows.</p>
        </div>
      </div>
      <p class="text-red font-weight-700">Dual-Motor Push Structure (Patent Protected); Stable Operation, Durable, Quick Installation</p>
    </div>
  </div>
  <p class="font-size-25 text-red font-comfortaa font-weight-700 margin-btm-30">Structure</p>
  <div class="img-width-1000 image-margin-center margin-btm-50">
    <picture>
      <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-structure.webp' | url }}" alt="Structure" width="1000" height="450" class="img-responsive">
      <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-structure.jpg' | url }}" alt="Structure" width="1000" height="450" class="img-responsive">
    </picture>
  </div>
</div>
<div class="bg-grey padding-top-50 padding-btm-10">
  <div class="container">
    <p class="font-size-25 text-red font-comfortaa font-weight-700 margin-btm-30">Blade Parameters</p>
    <div class="row margin-btm-10">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
        <p class="font-size-20 text-black font-weight-700">55# Series Full Blackout Blades</p>
        <p>(Aluminum Alloy + Polyurethane Foam)</p>
        <div class="img-width-800 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-55-series-full-blackout-blades.webp' | url }}" alt="55# Series Full Blackout Blades" width="800" height="520" class="img-responsive">
            <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-55-series-full-blackout-blades.png' | url }}" alt="55# Series Full Blackout Blades" width="800" height="520" class="img-responsive">
          </picture>
        </div>
        <p class="font-size-20 text-black font-weight-700">Production parameters:</p>
        <p><span class="text-red margin-right-8"></span>Max area: <span class="text-red">30m²</span></p>
        <p><span class="text-red margin-right-8"></span>Max width: <span class="text-red">6m</span></p>
        <p><span class="text-red margin-right-8"></span>Max length: <span class="text-red">7m</span></p>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
        <p class="font-size-20 text-black font-weight-700">38# Series "Starry Sky" Blades</p>
        <p>(Aluminum Alloy + Polyurethane Foam)</p>
        <div class="img-width-800 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-38-series-starry-sky-blades.webp' | url }}" alt="38# Series Starry Sky Blades" width="800" height="520" class="img-responsive">
            <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-38-series-starry-sky-blades.png' | url }}" alt="38# Series Starry Sky Blades" width="800" height="520" class="img-responsive">
          </picture>
        </div>
        <p class="font-size-20 text-black font-weight-700">Production parameters:</p>
        <p><span class="text-red margin-right-8"></span>Max area: <span class="text-red">30m²</span></p>
        <p><span class="text-red margin-right-8"></span>Max width: <span class="text-red">6m</span></p>
        <p><span class="text-red margin-right-8"></span>Max length: <span class="text-red">7m</span></p>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-btm-20">
        <p class="font-size-20 text-black font-weight-700">35# Series "Starry Sky" Blades</p>
        <p>(Aluminum Profile with Light-Transmitting Holes)</p>
        <div class="img-width-800 image-margin-center margin-btm-20">
          <picture>
            <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-35-series-starry-sky-blades.webp' | url }}" alt="35# Series Starry Sky Blades" width="800" height="520" class="img-responsive">
            <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-35-series-starry-sky-blades.png' | url }}" alt="35# Series Starry Sky Blades" width="800" height="520" class="img-responsive">
          </picture>
        </div>
        <p class="font-size-20 text-black font-weight-700">Production parameters:</p>
        <p><span class="text-red margin-right-8"></span>Max area: <span class="text-red">20m²</span></p>
        <p><span class="text-red margin-right-8"></span>Max width: <span class="text-red">5m</span></p>
        <p><span class="text-red margin-right-8"></span>Max length: <span class="text-red">6m</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40">
  <p class="font-size-25 text-red font-comfortaa font-weight-700 margin-btm-30">Control System</p>
  <div class="row margin-btm-10">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
      <div class="bg-grey-products">
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
            <p>Internal Abb</p>
            <p class="font-size-20 text-black font-weight-700">Dual Motor</p>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-40">
            <div class="img-width-200 pull-right">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/beeley.webp' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
                <img src="{{ '/static/products/beeley.png' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
              </picture>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.webp' | url }}" alt="Machine Motor" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.jpg' | url }}" alt="Machine Motor" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Machine Motor</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.webp' | url }}" alt="Control Box" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.jpg' | url }}" alt="Control Box" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Control Box</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.webp' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.jpg' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Remote Control</p>
          </div>
        </div>
        <p class="font-size-20 text-black font-weight-700">Operation Method</p>
        <p><span class="text-red margin-right-8"></span>Remote Control</p>
        <p><span class="text-red margin-right-8"></span>Dry Contact Switch (Wired Switch)</p>
        <p class="font-size-20 text-black font-weight-700 margin-top-30">Feature Description</p>
        <p><span class="text-red margin-right-8"></span>Standard FTS Dual Motor</p>
        <p><span class="text-red margin-right-8"></span>Two Motors of the Same Model, Interchangeable</p>
        <p class="margin-btm-40"><span class="text-red margin-right-8"></span>Standard Control Box</p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
      <div class="bg-grey-products">
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
            <p>Internal Abb</p>
            <p class="font-size-20 text-black font-weight-700">Dual Motor</p>
            <p class="text-red">WiFi Version</p>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-40">
            <div class="img-width-200 pull-right">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/beeley.webp' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
                <img src="{{ '/static/products/beeley.png' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
              </picture>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.webp' | url }}" alt="Machine Motor" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.jpg' | url }}" alt="Machine Motor" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Machine Motor</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.webp' | url }}" alt="Control Box" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.jpg' | url }}" alt="Control Box" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Control Box</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.webp' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.jpg' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Remote Control</p>
          </div>
        </div>
        <p class="font-size-20 text-black font-weight-700">Operation Method</p>
        <p><span class="text-red margin-right-8"></span>Remote Control</p>
        <p><span class="text-red margin-right-8"></span>Dry Contact Switch (Wired Switch)</p>
        <p class="text-red"><span class="margin-right-8"></span>Mobile APP Control (Tuya Platform)</p>
        <p class="font-size-20 text-black font-weight-700 margin-top-30">Feature Description</p>
        <p><span class="text-red margin-right-8"></span>Standard FTS Dual Motor</p>
        <p><span class="text-red margin-right-8"></span>Two Motors of the Same Model, Interchangeable</p>
        <p class="text-red margin-btm-40"><span class="margin-right-8"></span>Control Box with WiFi Module</p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
      <div class="bg-grey-products">
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
            <p>Internal Abb</p>
            <p class="font-size-20 text-black font-weight-700">Smart Dual Motor</p>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-40">
            <div class="img-width-200 pull-right">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/beeley.webp' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
                <img src="{{ '/static/products/beeley.png' | url }}" alt="Beeley" width="200" height="95" class="img-responsive">
              </picture>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.webp' | url }}" alt="Smart Motor" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.jpg' | url }}" alt="Smart Motor" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Smart Motor<br><span class="text-red">(Electronic Travel)</span></p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.webp' | url }}" alt="Control Box" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.jpg' | url }}" alt="Control Box" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Control Box</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.webp' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.jpg' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Remote Control</p>
          </div>
        </div>
        <p class="font-size-20 text-black font-weight-700">Operation Method</p>
        <p><span class="text-red margin-right-8"></span>Remote Control</p>
        <p><span class="text-red margin-right-8"></span>Dry Contact Switch (Wired Switch)</p>
        <p class="text-red"><span class="margin-right-8"></span>Mobile APP Control (Tuya Platform)</p>
        <p class="font-size-20 text-black font-weight-700 margin-top-30">Feature Description</p>
        <p class="text-red"><span class="margin-right-8"></span>Standard FTS Dual Motor</p>
        <p class="text-red"><span class="margin-right-8"></span>Primary and Secondary Motors with Different Models, Not Interchangeable</p>
        <p class="text-red margin-btm-40"><span class="margin-right-8"></span>Dedicated Control Box</p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-btm-40">
      <div class="bg-grey-products">
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-20">
            <p>Internal Abb</p>
            <p class="font-size-20 text-black font-weight-700">Dooya Dual Motor</p>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-btm-40">
            <div class="img-width-400 pull-right">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/dooya.webp' | url }}" alt="DOOYA" width="400" height="92" class="img-responsive">
                <img src="{{ '/static/products/dooya.png' | url }}" alt="DOOYA" width="400" height="92" class="img-responsive">
              </picture>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.webp' | url }}" alt="Machine Motor" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-machine-motor.jpg' | url }}" alt="Machine Motor" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Machine Motor</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.webp' | url }}" alt="Control Box" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-control-box.jpg' | url }}" alt="Control Box" wwidth="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Control Box</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-btm-20">
            <div class="img-width-600 image-margin-center margin-btm-10">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.webp' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-remote-control.jpg' | url }}" alt="Remote Control" width="600" height="525" class="img-responsive">
              </picture>
            </div>
            <p class="text-black text-center font-weight-700">Remote Control</p>
          </div>
        </div>
        <p class="font-size-20 text-black font-weight-700">Operation Method</p>
        <p><span class="text-red margin-right-8"></span>Wall-Mounted Remote (Wireless Switch)</p>
        <p><span class="text-red margin-right-8"></span>Dry Contact Switch (Wired Switch)</p>
        <p class="font-size-20 text-black font-weight-700 margin-top-30">Additional Equipment</p>
        <p class="text-red margin-btm-40"><span class="margin-right-8"></span>Wind, Light and Rain Sensor</p>
      </div>
    </div>
  </div>
  <p class="font-size-20 font-comfortaa text-black font-weight-700 margin-btm-20">MAIN FEATURE</p>
  <p class="margin-top-20 font-weight-700">High durability</p>
  <p><span class="text-red margin-right-8"></span>Using aluminum alloy curtain sheet, it has a long service life.</p>
  <p class="margin-top-20 font-weight-700">Excellent heat insulation effect</p>
  <p><span class="text-red margin-right-8"></span>Compared with other indoor sunshade products and double motor fabric canopy sunshade, its heat insulation effect is more excellent, which can significantly reduce the indoor temperature.</p>
  <p class="margin-top-20 font-weight-700">Energy saving and environmental protection</p>
  <p><span class="text-red margin-right-8"></span>By effectively controlling sunlight exposure, it can lower the indoor temperature and achieve the purpose of energy saving and emission reduction.</p>
  <p class="margin-top-20 font-weight-700">Convenient Operation</p>
  <p><span class="text-red margin-right-8"></span>Remote control system can be adopted, which is convenient and quick to operate.</p>
  <p class="margin-top-20 font-weight-700">Aesthetically pleasing and practical</p>
  <p class="margin-btm-40"><span class="text-red margin-right-8"></span>Modern appearance and exquisite design can realize the sun-shading effect and add the beauty of the building.</p>
  <div id="get-a-free-quote"></div>
  <p class="font-size-25 text-black font-weight-500">Get a Free Quote</p>

{% include "product-quote-form.njk" %}
  <p class="font-size-20 font-comfortaa text-black font-weight-700 margin-btm-20">More Cases</p>
  <div class="row margin-btm-20">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-1.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-1.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-2.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-2.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-3.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-3.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-4.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-4.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-5.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-5.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-6.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-6.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-7.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-7.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 margin-btm-40">
      <div class="img-width-600 image-margin-center">
        <picture>
          <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-8.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
          <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters-case-8.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters Case" width="600" height="400" class="img-responsive">
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey padding-top-40 padding-btm-20">
  <div class="container">
    <p class="font-size-25 font-comfortaa text-black font-weight-700">You May Also Like</p>
    <div class="heading-list-dashed margin-btm-30"></div>
    <div class="bg-white box-shadow margin-btm-40">
      <div class="row">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="img-width-800 image-margin-center">
            <a href="{{ '/fabric-roof-blind/' | url }}">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/fabric-roof-blind.webp' | url }}" alt="Fabric Roof Blind" width="800" height="700" class="img-responsive">
                <img src="{{ '/static/products/fabric-roof-blind.jpg' | url }}" alt="Fabric Roof Blind" width="800" height="700" class="img-responsive">
              </picture>
            </a>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="padding-30">
            <p class="font-size-20 font-weight-500"><a href="{{ '/fabric-roof-blind/' | url }}" class="hover-color-black">Fabric Roof Blind</a></p>
            <p class="text-justify">External Roof Blinds is a new type of sun room standard product whose overall structure is different from traditional awnings. The new structure and power system design enable the product to obtain the characteristics of easy installation, good contact effect, low maintenance cost and larger coverage area. It is a subversive sun room shading solution.</p>
            <p>Applicable venue:</p>
            <p><span class="text-red margin-right-8"></span>High-end clubs, star hotels, villas and other outdoor places.</p>
<span class="text-red margin-right-8"></span>Terrace, restaurant, swimming pool, garden glass house, private residential area, etc.

          </div>
        </div>
      </div>
    </div>
    <div class="bg-white box-shadow margin-btm-40">
      <div class="row">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="img-width-800 image-margin-center">
            <a href="{{ '/' | url }}">
              <picture>
                <source type="image/webp" srcset="{{ '/static/products/aluminum-alloy-roof-roller-shutters.webp' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
                <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
              </picture>
            </a>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="padding-30">
            <p class="font-size-20 font-weight-500"><a href="{{ '/' | url }}" class="hover-color-black">Aluminum Alloy Roof Roller Shutters</a></p>
            <p class="text-justify">The aluminum alloy roof roller shutters use aluminum alloy curtains for shading, the system adopts double motor FTS mechanism, the product is more stable, long service life, the heat insulation effect is not only far better than the various indoor sunshade products in the sunroom, it can significantly reduce the indoor temperature.</p>
            <p>Applicable venue:</p>
            <p><span class="text-red margin-right-8"></span>High-end clubs, star hotels, villas and other outdoor places.</p>
<span class="text-red margin-right-8"></span>Terrace, restaurant, swimming pool, garden glass house, private residential area, etc.

          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
{% include "faq-support.njk" %}
{% endblock %}

