{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/bioclimate-pergola/' %}
{% set pageTitle = "Bioclimate Pergola" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Bioclimate Pergola" %}
{% set breadcrumbTitle = "Bioclimate Pergola" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Bioclimate Pergola</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-40">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Bioclimate Pergola</h1>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/aluminum-bioclimate-pergola/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-bioclimate-pergola.webp' | url }}" alt="Aluminum Bioclimate Pergola" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/aluminum-bioclimate-pergola.jpg' | url }}" alt="Aluminum Bioclimate Pergola" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/aluminum-bioclimate-pergola/' | url }}" class="hover-color-black">Aluminum Bioclimate Pergola</a></p>
          <p class="text-justify">It is an architectural artwork made of all-aluminium, suitable for various forms of transformation. When the leaf is opened, sunlight and breeze can enter from a specified angle; when the leaf is closed, it completely blocks sunlight and rain, and the rain can flow away along the established drainage groove. The material can resist harsh weather and environment, durable, and the service life can reach 20 years.</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>High-end clubs, star hotels, villas, squares and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terraces, restaurants, swimming pools, gardens, private residential areas, etc.

        </div>
      </div>
    </div>
  </div>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/retractable-louvered-pergola/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/retractable-louvered-pergola.webp' | url }}" alt="Retractable Louvered Pergola" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/retractable-louvered-pergola.jpg' | url }}" alt="Retractable Louvered Pergola" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/retractable-louvered-pergola/' | url }}" class="hover-color-black">Retractable Louvered Pergola</a></p>
          <p class="text-justify">The retractable louvered pergola is an architectural masterpiece made of full aluminum, capable of various form transformations. The blades can be fully folded and retracted to one end. When the blades are completely retracted, the translucent space can reach 75%, allowing you to enjoy the panoramic sky. When closed, it provides shade from direct sunlight and blocks rainwater. The material is resistant to harsh weather and environments, making it sturdy and durable, with a lifespan of up to 20 years.</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>High-end clubs, star hotels, villas, squares and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terraces, restaurants, swimming pools, gardens, private residential areas, etc.

        </div>
      </div>
    </div>
  </div>
</div>
    <div class="img-pr">
      <div class="hidden-md hidden-xs hidden-sm">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support.webp' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
          <img src="{{ '/static/assets/faq-support.jpg' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
        </picture>
      </div>
      <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support-small.webp' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
          <img src="{{ '/static/assets/faq-support-small.jpg' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
        </picture>
      </div>
      <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="{{ '/contact/' | url }}" class="btn btn-primary btn-radius">Contact Us</a>
      </div>
    </div>
{% endblock %}
