{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/bioclimate-pergola/' %}
{% set pageTitle = "Bioclimate Pergola" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Bioclimate Pergola" %}
{% set breadcrumbTitle = "Bioclimate Pergola" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Bioclimate Pergola</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-40">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Bioclimate Pergola</h1>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/aluminum-bioclimate-pergola/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/aluminum-bioclimate-pergola.webp' | url }}" alt="Aluminum Bioclimate Pergola" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/aluminum-bioclimate-pergola.jpg' | url }}" alt="Aluminum Bioclimate Pergola" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/aluminum-bioclimate-pergola/' | url }}" class="hover-color-black">Aluminum Bioclimate Pergola</a></p>
          <p >A modern all-aluminium pergola system designed for flexible control of sunlight, shade and ventilation. When the louvres are fully closed, they form a sealed roof with concealed drainage, providing reliable rain protection. Built to suit Australian conditions, offering stable performance and long-term durability.</p>
          <p>Available in three structural levels:</p>
          <p class="font-size-14">
            <span class="margin-right-8"></span><b>F168</b> – Standard residential series<br>
            <span class="margin-right-8"></span><b>F210</b> – Increased span and structural strength<br>
            <span class="margin-right-8"></span><b>F210 PRO</b> – Premium heavy-duty specification for larger or more demanding projects
          </p>
        </div>
        <a class="btn btn-primary btn-radius margin-left-30" href="{{ '/aluminum-bioclimate-pergola/' | url }}" > View Details</a>
      </div>
    </div>
  </div>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/retractable-louvered-pergola/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/retractable-louvered-pergola.webp' | url }}" alt="Retractable Louvered Pergola" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/retractable-louvered-pergola.jpg' | url }}" alt="Retractable Louvered Pergola" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/retractable-louvered-pergola/' | url }}" class="hover-color-black">Retractable Louvered Pergola</a></p>
          <p>A fully aluminium retractable louvre pergola designed for flexible outdoor living. The blades can rotate and retract to one side, allowing you to open up the roof for maximum light and sky exposure, or close it for complete shade and rain protection.</p>
          <p>When closed, the system forms a solid roof with integrated drainage to channel water discreetly through the frame. Engineered to withstand Australian weather conditions, it offers long-term durability and reliable structural performance.</p>
        </div>
        <a class="btn btn-primary btn-radius margin-left-30" href="{{ '/retractable-louvered-pergola/' | url }}" > View Details</a>
      </div>
    </div>
  </div>
</div>
{% include "faq-support.njk" %}
{% endblock %}
