<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="applicable-device" content="pc,mobile">
  <link rel="shortcut icon" href="https://davisawning.com/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&amp;family=Roboto+Condensed:wght@400;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "header.njk" %}
  {% block content %}{% endblock %}
  {% include "footer.njk" %}
  <script src="/assets/bootstrap.bundle.min.js"></script>
  <script>
    function closebar_cookie() {
      document.getElementById("cookie-bar").style.display = "none";
    }
  </script>
</body>
</html>
