{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set showLanguageLink = false %}
{% set showFeedBackDialog = true %}
{% set pageUrl = '/full-cassette-awning/' %}
{% set pageTitle = "Full Cassette Awning" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Full Cassette Awning" %}
{% set breadcrumbTitle = "Full Cassette Awning" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Full Cassette Awning</span></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-40">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Full Cassette Awning</h1>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/pro-series-full-cassette-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/dq-a-full-cassette-awning.webp' | url }}" alt="Pro Series – Full Cassette Folding Arm Awning" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/dq-a-full-cassette-awning.jpg' | url }}" alt="Pro Series – Full Cassette Folding Arm Awning" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/pro-series-full-cassette-awning/' | url }}" class="hover-color-black">Pro Series – Full Cassette Folding Arm Awning</a></p>
          <p >The Pro Series represents the higher structural tier within our full cassette folding arm range. Designed for enhanced durability and refined architectural integration, it delivers stronger arm performance and improved long-term stability under Australian conditions.</p>
          <p >Its fully enclosed cassette protects all internal components from weather exposure, maintaining a clean façade and consistent operation over time. Ideal for premium residential façades and commercial applications where both appearance and performance matter.</p>
        </div>
        <a class="btn btn-primary btn-radius margin-left-30" href="{{ '/pro-series-full-cassette-awning/' | url }}" > View Details</a>
      </div>
    </div>
  </div>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/flex-series-full-cassette-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/dq-b-full-cassette-awning.webp' | url }}" alt="Flex Series – Full Cassette Folding Arm Awning" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/dq-b-full-cassette-awning.jpg' | url }}" alt="Flex Series – Full Cassette Folding Arm Awning" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/flex-series-full-cassette-awning/' | url }}" class="hover-color-black">Flex Series – Full Cassette Folding Arm Awning</a></p>
          <p >The Flex Series offers the same full cassette protection in a more streamlined configuration, balancing reliability, functionality and value.</p>
          <p>With fully enclosed fabric and folding arms, it provides dependable sun protection while maintaining a compact and clean exterior profile. Well suited to residential patios, balconies and everyday outdoor spaces, Flex delivers practical performance with straightforward installation and operation.</p>
        </div>
        <a class="btn btn-primary btn-radius margin-left-30" href="{{ '/flex-series-full-cassette-awning/' | url }}" > View Details</a>
      </div>
    </div>
  </div>
</div>
{% include "faq-support.njk" %}
{% endblock %}
