{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/full-cassette-awning/' %}
{% set pageTitle = "Full Cassette Awning" %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "Full Cassette Awning" %}
{% set breadcrumbTitle = "Full Cassette Awning" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">Full Cassette Awning</span></p>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-40">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">Full Cassette Awning</h1>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/dq-a-full-cassette-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/dq-a-full-cassette-awning.webp' | url }}" alt="DQ-A Full Cassette Awning" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/dq-a-full-cassette-awning.jpg' | url }}" alt="DQ-A Full Cassette Awning" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/dq-a-full-cassette-awning/' | url }}" class="hover-color-black">DQ-A Full Cassette Awning</a></p>
          <p class="text-justify">It is a new-generation sunshade partner for "villa-level buildings". The box-type design perfectly fits various building styles. When the awning is closed, the fabric is perfectly protected, extending the life of the product. In the closed state, it is perfectly integrated with the building wall. Through a dedicated kit, multiple can be seamlessly linked together to achieve a larger area of integrated outdoor space expansion.
</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>Shops, hotels, villas and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terraces, restaurants, swimming pools, gardens, private residential areas, etc.

        </div>
      </div>
    </div>
  </div>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/dq-b-full-cassette-awning/' | url }}">
            <picture>
              <source type="image/webp" srcset="{{ '/static/products/dq-b-full-cassette-awning.webp' | url }}" alt="DQ-B Full Cassette Awning" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/dq-b-full-cassette-awning.jpg' | url }}" alt="DQ-B Full Cassette Awning" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/dq-b-full-cassette-awning/' | url }}" class="hover-color-black">DQ-B Full Cassette Awning</a></p>
          <p class="text-justify">It is a new-generation sunshade partner for "villa-level buildings". The box-type design perfectly fits various building styles. When the awning is closed, the fabric is perfectly protected, extending the life of the product. In the closed state, it is perfectly integrated with the building wall. Through a dedicated kit, multiple can be seamlessly linked together to achieve a larger area of integrated outdoor space expansion.
</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>Shops, hotels, villas and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terraces, restaurants, swimming pools, gardens, private residential areas, etc.

        </div>
      </div>
    </div>
  </div>
</div>
    <div class="img-pr">
      <div class="hidden-md hidden-xs hidden-sm">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support.webp' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
          <img src="{{ '/static/assets/faq-support.jpg' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
        </picture>
      </div>
      <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
          <source type="image/webp" srcset="{{ '/static/assets/faq-support-small.webp' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
          <img src="{{ '/static/assets/faq-support-small.jpg' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
        </picture>
      </div>
      <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="{{ '/contact/' | url }}" class="btn btn-primary btn-radius">Contact Us</a>
      </div>
    </div>
{% endblock %}
