{% extends "base.njk" %}
{% set activeNav = "products" %}
{% set showLanguageLink = false %}
{% set plainFeedbackLink = false %}
{% set pageUrl = '/external-roof-blinds/' %}
{% set pageTitle = "External Roof Blinds - DAVIS" %}
{% set pageKeywords = "DAVIS" %}
{% set pageDescription = "DAVIS was founded in 1992, focusing on the production of outdoor sunshade products." %}
{% set pageOgImage = '/static/assets/leader.jpg' | url %}
{% set pageOgImageAlt = "External Roof Blinds" %}
{% set pageAppleTouchIcon = '/static/assets/davis-icon.jpg' | url %}
{% set pageAppTitle = "DAVIS" %}
{% set breadcrumbTitle = "External Roof Blinds" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="margin-top-58"></div>
    <div class="bg-grey">
  <div class="container padding-top-15">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="font-size-14"><a href="{{ '/index.html' | url }}" class="hover-color">Home</a> / <span class="text-primary">External Roof Blinds</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container padding-top-40 padding-btm-40">
  <h1 class="font-size-25 text-black font-comfortaa font-weight-700 margin-btm-30">External Roof Blinds</h1>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/fabric-roof-blind/' | url }}">
            <picture>
              <source type="image/webp" srcset="https://cdn.davisawning.com/products/fabric-roof-blind.webp" alt="Fabric Roof Blind" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/fabric-roof-blind.jpg' | url }}" alt="Fabric Roof Blind" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/fabric-roof-blind/' | url }}" class="hover-color-black">Fabric Roof Blind</a></p>
          <p class="text-justify">External Roof Blinds is a new type of sun room standard product whose overall structure is different from traditional awnings. The new structure and power system design enable the product to obtain the characteristics of easy installation, good contact effect, low maintenance cost and larger coverage area. It is a subversive sun room shading solution.</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>High-end clubs, star hotels, villas and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terrace, restaurant, swimming pool, garden glass house, private residential area, etc.

        </div>
      </div>
    </div>
  </div>
  <div class="bg-white box-shadow margin-btm-40">
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="img-width-800 image-margin-center">
          <a href="{{ '/aluminum-alloy-roof-roller-shutters/' | url }}">
            <picture>
              <source type="image/webp" srcset="https://cdn.davisawning.com/products/aluminum-alloy-roof-roller-shutters.webp" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
              <img src="{{ '/static/products/aluminum-alloy-roof-roller-shutters.jpg' | url }}" alt="Aluminum Alloy Roof Roller Shutters" width="800" height="700" class="img-responsive">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="padding-30">
          <p class="font-size-20 font-weight-500"><a href="{{ '/aluminum-alloy-roof-roller-shutters/' | url }}" class="hover-color-black">Aluminum Alloy Roof Roller Shutters</a></p>
          <p class="text-justify">The aluminum alloy roof roller shutters use aluminum alloy curtains for shading, the system adopts double motor FTS mechanism, the product is more stable, long service life, the heat insulation effect is not only far better than the various indoor sunshade products in the sunroom, it can significantly reduce the indoor temperature.</p>
          <p>Applicable venue:</p>
          <p><span class="text-primary margin-right-8"></span>High-end clubs, star hotels, villas and other outdoor places.</p>
<span class="text-primary margin-right-8"></span>Terrace, restaurant, swimming pool, garden glass house, private residential area, etc.

        </div>
      </div>
    </div>
  </div>
</div>
    <div class="img-pr">
      <div class="hidden-md hidden-xs hidden-sm">
        <picture>
          <source type="image/webp" srcset="https://cdn.davisawning.com/assets/faq-support.webp" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
          <img src="{{ '/static/assets/faq-support.jpg' | url }}" alt="FAQ & Support" width="3840" height="1000" class="img-responsive">
        </picture>
      </div>
      <div class="hidden-lg hidden-xl hidden-xxl">
        <picture>
          <source type="image/webp" srcset="https://cdn.davisawning.com/assets/faq-support-small.webp" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
          <img src="{{ '/static/assets/faq-support-small.jpg' | url }}" alt="FAQ & Support" width="1000" height="900" class="img-responsive">
        </picture>
      </div>
      <div class="img-text text-center width-bf95">
        <p class="font-comfortaa font-size-28 font-weight-700 margin-btm-20">FAQ & Support</p>
        <p class="margin-btm-40">Do you have any questions? We will be more than happy to solve your doubts, whether you are an individual or a professional.</p>
        <a href="{{ '/contact/' | url }}" class="btn btn-primary btn-radius">Contact Us</a>
      </div>
    </div>
{% endblock %}
